/* Importo font nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
body {
  font-family: 'Nunito', sans-serif;
}

/*  */
  h1 {display:block;}

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
/* Jugamos un poco con la letra */
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background-color: #d6b9b9;
  color: #000000;
  padding: 20px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}


table {
   width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td {
   width: 50%;
   text-align: left; /* Alinea la tabla a la izquierda */
   vertical-align: top;
    border: 1px solid #000;

}

thead {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #938e8e;
}

/* Botones */
    .busqueda {
      margin-bottom: 20px;
    }

    .busqueda input {
      padding: 8px 30px 8px 10px;
      font-size: 16px;
      width: 250px;
    }

    .busqueda .lupa {
      position: relative;
      display: inline-block;
    }

    .busqueda .lupa::before {
      content: '🔍';
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }